/* Header */
.header {
    position: relative;
    background: url(headercropattu.png) no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
}

.headerotsikko {
    text-align: center;
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px; 
    border-radius: 10px;
}

.headernav .list-inline {
    margin: 0;
    padding: 0;
}

.headernav .list-inline-item {
    margin: 0 10px; 
}

.headernav .btn-style {
    text-decoration: none; 
    font-size: 1.2rem; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 25px; 
    color: white; 
    background: linear-gradient(45deg, #ff7b54, #ffb400); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
}

.headernav .btn-style:hover {
    background: linear-gradient(45deg, #ffb400, #ff7b54); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

.headernav .btn-style:active {
    background: linear-gradient(45deg, #ff7b54, #ff3f00); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
    transform: translateY(1px); 
}

/* sisältö */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow-1 {
    flex: 1;
}

.background-color {
    background-color: #f8f9fa; 
    padding: 40px; 
    margin-top: -50px;  
    margin-bottom: -50px;  
    z-index: -1; 
    position: relative;
}

/* Etusivun tekstiboxi */
.ice-box {
    background-color: #a3d8f4; 
    color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ice-box h3 {
    color: #0077b6; 
}

.ice-box p {
    color: #003d5b; 
}

/* Yhteystiedot sivun tekstiboxi */
.text-box {
    margin-right: 10px;
    background-color: lightgray;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Puhelin näkymä */
@media (max-width: 768px) {
    .card img {
        width: 600px;
        height: auto; 
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
